<div id='new-guest'>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label class=""><%= t('.full_name')%></label>
        <input type="text" class="form-control" placeholder="<%= t('.full_name')%>"  name="guest[full_name]" data-guest-info disabled required/>
      </div>
    </div>
  </div>
</div>
