<div class="modal modal_dark fade modal_center" id="password-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal__container">
          <div class="modal__header modal__header_login">
          <div class="modal__logo"></div>

          </div>
          <div class="modal__content">
            <%= form_for(user, url: {controller: :registrations, action: :update_password}, :html => { :id => "form" })  do |f| %>
            <fieldset class="form-group">
                <div class="form-group__append">
                    <%= f.password_field :current_password, placeholder: 'Current Password', class: 'form-control' %>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group__append">
                    <%= f.password_field :password, :autocomplete => "off", placeholder: 'Uusi salasana', class: 'form-control' %>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="form-group__append">
                    <%= f.password_field :password_confirmation, placeholder: 'Uuden salasanan vahvistus', class: 'form-control' %>
                </div>
            </fieldset>
            <fieldset class="form-group form-group_btns">
            <button class="btn btn-primary btn-block" style="height: 50px" type='submit'>Vaihda salasana</button>
            </fieldset>
            <% end %>
          </div>
        </div>
    </div>
</div>
