<div class="row" id='form-reservation-info'>
  <div class="col-xs-12">
    <%= edit_mode_text %>
  </div>
  <div class="col-xs-7">
    <span class="info-left"></span>
  </div>
  <div class="col-xs-5 text-right">
    <span class="info-right"></span>
  </div>
  <div class="col-xs-12">
    <div class="btn btn-default btn-sm reselect-betton"><%= t('.reselect_button') %></div>
  </div>
</div>
