<div class="modal fade" id="manage-photos" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>
          <%= t('photos.header')%>
        </h3>
      </div>
      <div class="modal-body">
        <%= react_component('PhotoManager', {url: venue_photos_path(venue),
                                             auth_token: form_authenticity_token,
                                             images: @gallery_images}, {}) %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
